body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: hsl(212, 45%, 89%);
  font-family: sans-serif, monospace;
}
.main {
  height: 460px;
  width: 250px;
  background-color: hsl(0, 0%, 100%);
  border-radius: 15px;
  padding: 12px;
}
#image {
  border-radius: 10px;
  height: 270px;
  width: 100%;
  display: block;
  margin: auto;
}
h3 {
  text-align: center;
  color: hsl(218, 44%, 22%);
  margin-top: 40px;
}
p {
  text-align: center;
  color: hsl(216, 15%, 48%);
  font-size: 14px;
  margin-top: 30px;
}
